################################################################
# Global configuration
################################################################

debug = {{ traefik_debug }}
logLevel = "{{ traefik_log_level }}"
traefikLogsFile = "{{ traefik_logs_directory }}/traefik.log"
accessLogsFile = "{{ traefik_logs_directory }}/access.log"

defaultEntryPoints = ["http", "https"]
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
      [[entryPoints.https.tls.certificates]]
      CertFile = "/srv/dehydrated/certs/{{ traefik_hostname }}/fullchain.pem"
      KeyFile = "/srv/dehydrated/certs/{{ traefik_hostname }}/privkey.pem"
      [[entryPoints.https.tls.certificates]]
      CertFile = "/srv/dehydrated/certs/{{ traefik_hostname }}/fullchain.pem"
      KeyFile = "/srv/dehydrated/certs/{{ traefik_hostname }}/privkey.pem"

[web]
address = ":{{ traefik_lab_port }}"

[web.auth.basic]
users = ["{{ traefik_lab_username }}:{{ traefik_lab_password_bcrypt.stdout }}"]

[file]

[frontends]
  [frontends.ci]
  passHostHeader = true
  backend = "ci"
    [frontends.ci.routes.test_1]
    rule = "Host: {{ traefik_ci_subdomain }}.{{ traefik_hostname }}"
  [frontends.lab]
  passHostHeader = true
  backend = "lab"
    [frontends.lab.routes.test_1]
    rule = "Host: {{ traefik_lab_subdomain }}.{{ traefik_hostname }}"

[backends]
  [backends.ci]
    [backends.ci.servers.server1]
    url = "http://127.0.0.1:{{ traefik_ci_port }}"
    weight = 1
  [backends.lab]
    [backends.lab.servers.server1]
    url = "http://127.0.0.1:{{ traefik_lab_port }}"
    weight = 1