################################################################
# Global configuration
################################################################

debug = {{ traefik_debug }}
logLevel = "{{ traefik_log_level }}"
traefikLogsFile = "{{ traefik_logs_directory }}/traefik.log"
accessLogsFile = "{{ traefik_logs_directory }}/access.log"

defaultEntryPoints = ["http", "https"]
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
      [[entryPoints.https.tls.certificates]]
      CertFile = "/etc/ssl/certs/{{ domain }}/fullchain.pem"
      KeyFile = "/etc/ssl/certs/{{ domain }}/privkey.pem"

{% if letsencrypt_enabled %}
[acme]
email = "admin@{{ domain }}"
storageFile = "acme.json"
onDemand = true
caServer = "{{ letsencrypt_ca }}"
entryPoint = "https"

[[acme.domains]]
main = "{{ domain }}"
{% endif %}

[web]
address = ":{{ traefik_status_port }}"

[web.auth.basic]
users = ["{{ traefik_status_username }}:{{ traefik_status_password_bcrypt.stdout }}"]

[file]

[frontends]
  [frontends.ci]
  passHostHeader = true
  backend = "ci"
    [frontends.ci.routes.ci_1]
    rule = "Host: {{ ci_subdomain }}.{{ domain }}"
  [frontends.status]
  passHostHeader = true
  backend = "status"
    [frontends.status.routes.status_1]
    rule = "Host: {{ status_subdomain }}.{{ domain }}"

[backends]
  [backends.ci]
    [backends.ci.servers.server1]
    url = "http://127.0.0.1:{{ traefik_ci_port }}"
    weight = 1
  [backends.status]
    [backends.status.servers.server1]
    url = "http://127.0.0.1:{{ traefik_status_port }}"
    weight = 1

[ecs]

Cluster = "{{ traefik_ecs_cluster_name }}"
Watch = true
RefreshSeconds = 15
ExposedByDefault = true
Region = "{{ traefik_ecs_region }}"
AccessKeyID = "{{ aws_access_key_id }}"
SecretAccessKey = "{{ aws_secret_access_key }}"