<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploys a selected Repo/Branch</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.76">
          <name>RepoBranch</name>
          <description>Select both a repository and a branch</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_MULTI_LEVEL_SINGLE_SELECT</type>
          <value>Repo,Branch</value>
          <propertyFile>/var/lib/jenkins/.garden/repos-branches.properties</propertyFile>
          <multiSelectDelimiter>,</multiSelectDelimiter>
          <projectName>deploy</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Build</name>
          <description>If selected, this will rebuild the project before deploying</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Test</name>
          <description>If selected, this will test the project before deploying</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Pull</name>
          <description>If selected, most recent changes will be pulled down from Github (TIP: select this box only if you want a fast deploy of a file or files that don't require a rebuild or testing, Please note that if you've configured the CI server to not keep repo clones around with the persist_repos=false config option, then this option still requires rebuilding as there are no built resources left on the CI server prior to running a deploy)</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        {{ jenkins_deploy_additional_parameters_xml }}
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/var/lib/jenkins/scripts/deploy.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
